@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Moon+Dance&family=Nanum+Gothic&family=Nunito&family=Rubik&family=Ubuntu&family=Work+Sans&display=swap');

/* CSS Reset */
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

.home-section {
    width: 100%;
    min-height: 100vh;
    max-height: 650px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #000000), url(./Images/home-bg.jpg) no-repeat center center/cover;

}

.header {
    position: sticky;
    top: 0px;
    z-index: 55;
}

.nav-list {
    display: flex;
    position: relative;
    left: 185px;
}

.nav-list li {
    list-style: none;
    position: relative;
    left: 35px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 17px;
    padding: 6px 7px;
    margin: auto 7px;
    color: #fff;
    transition: 0.2s all;
}
.nav-list li a:hover{
    color: gold;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 55;
}

.logo-img {
    width: 100px;
        cursor: pointer;
}

.nav-btn {
    width: 160px;
    height: 44px;
    background: none;
    color: #fff;
    padding: 4px 12px;
    position: relative;
    left: 40px;
    border: 2px solid #fff;
    font-size: 13px;
    letter-spacing: 1.1px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s all;
}

.nav-btn:hover {
    background-color: #fff;
    color: #000;
}

/* Home Content */
.h-content-tagline {
    letter-spacing: 3px;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    padding-top: 25px;
    word-spacing: 3px;
    font-size: 13px;
    text-transform: uppercase;
}

.home-heading-main {
    width: 70%;
    margin: 10px auto;
    padding: 12px;
    font-size: 4rem;
    text-align: center;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 4px;
    line-height: 6rem;
}

.home-subheading-main {
    width: 50%;
    margin: 10px auto;
    /* padding: 12px; */
    font-size: 17px;
    text-align: center;
    font-weight: bolder;
    color: #fff;
}

#one-hr {
    width: 1.5px;
    height: 80px;
    margin-top: 100px;
    position: absolute;
    left: 50%;
}


/* Discover Section */
.discover-section {
    width: 100%;
    height: 1160px;
    z-index: 5;
}

.discover-content {
    width: 90%;
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.discover-section-1 {
    width: 40%;
    margin: 20px;
    padding: 10px;
}

.discover-section-2 {
    width: 40%;
    margin: 20px;
    padding: 10px;
}

.discover-sec-1-content {
    margin-top: 80px;
}

.dis-sec-1-heading {
    font-size: 2.8rem;
    font-weight: bolder;
    line-height: 3.4rem;
    margin-bottom: 18px;
}

.dis-sec-1-para {
    font-size: 17px;
    word-spacing: 2px;
    line-height: 1.5rem;
    margin-bottom: 30px;
    color: rgb(119, 119, 119);

}

.discover-img {
    width: 500px;
    margin-top: 22px;
    height: 330px;
}

.dis-sec-1-more {
    margin: 16px;
}

.dis-sec-1-more p {
    color: rgb(119, 119, 119);
    margin-top: 15px;
    margin-bottom: 50px;
}

#discover-2-img {
    margin-top: 70px;
}

/* Menu Section */

.menu-content {
    color: #fff;
}

.menu-section {
    width: 100%;
    height: 990px;
    background-color: #161616;
}

.menu-section-content {
    width: 95%;
    max-height: 980px;
    margin: 12px auto;
}
.menu-tagline {
    margin-top: 0px;
    padding-top: 100px;
}

.menu-main-heading {
    font-size: 2.8rem;
    text-align: center;
    font-weight: bolder;
    padding-top: 30px;
}

.menu-subheading {
    max-width: 60%;
    line-height: 1.7rem;
    font-size: 17px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.menu-list {
    display: flex;
    width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 520px;
    margin: auto;
    margin-top: 50px;
}

.menu-list-1 {
    width: 42%;
    height: 430px;
}

.menu-list-2 {
    height: 430px;
    width: 42%;

}

.menu-sec-item {
    line-height: 1.9rem;
    margin: 16px 2px;
    border-bottom: dotted 2px grey;
    letter-spacing: 2.2px;
}

.menu-sec-item p {
    margin-bottom: 18px;
}

.menu-hr {
    display: inline-block;
    width: 35%;
    opacity: 0.5;
    height: 2px;
    margin-bottom: 12px;
}

.menu-button {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: center;
}

.menu-btn {
    width: 180px;
    height: 45px;
    text-align: center;
}

/* Signature-menu */
.signature-menu {
    width: 100%;
    min-height: 200px;
    max-height: 450px;
    background: linear-gradient(rgba(70, 70, 70, 0.4), #2c2c2c), url(https://websitedemos.net/deli-restaurant-02/wp-content/uploads/sites/637/2020/08/signeture-bg.jpg) no-repeat bottom center/cover;
    background-attachment: fixed;
}

.signature-content {
    width: 90%;
    height: 380px;
    margin: auto;
}

.signature-tagline {
    text-align: left;
    padding-top: 100px;
}

.signature-heading {
    text-align: left;
    margin-left: 12px;
}

.signature-para {
    margin-top: 50px;
    width: 45%;
    margin-left: 12px;
    line-height: 1.5rem;
    font-weight: 600;
}

/* Gallery Section */
.gallery-section {
    min-width: 90%;
    max-width: 100%;
    min-height: 350px;
    max-height: 800px;
    background-color: rgb(240, 240, 240);
}

.gallery-content {
    width: 85%;
    height: 800px;
    margin: auto;
}

.gallery-heading {
    padding-top: 20px;
}

.gallery-img {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}

.gallery {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.gallery-image {
    border-radius: 12px;
    width: 350px;
    height: 250px;
    transition: 0.4s all;
}

.gallery-image:hover {
    transform: scale(1.2);
}

/* Team Section */

.team-section {
    min-width: 95%;
    max-width: 100%;
    max-height: 1500px;
    min-height: 600px;
}

.team-content {
    width: 95%;
    height: 1480px;
    padding-top: 50px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-section-1 {
    width: 45%;
    height: 1400px;
    margin: auto;
}

.team-section-2 {
    width: 45%;
    height: 1400px;
    margin: auto;
}

.team-heading {
    text-align: left;
    line-height: 3.8rem;
}

.team-content-para {
    color: rgb(71, 71, 71);
    margin-top: 30px;
    width: 80%;
    line-height: 1.7rem;
}

.t-img-1 {
    width: 500px;
    height: 800px;
    margin-top: 35px;
    border-radius: 16px;
}

.t-img-2 {
    width: 360px;
    margin-top: 35px;
    border-radius: 16px;
}

.t-img-3 {
    margin-top: 70px;
    border-radius: 16px;
}

/* Testimonial Section */

.testimonial-section {
    width: 100%;
    height: 720px;
}

.testimonial-bg {
    width: 100%;
    height: 520px;
    background: linear-gradient(rgba(43, 43, 43, 0.459), #1f1f1f), url("./Images/testimonial-bg.jpg") center top/cover;

}

.testimonial-tagline {
    padding-top: 100px;
}

.testimonial-heading {
    color: #fff;
    font-weight: bolder;
}

.testimonial-all {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    height: 400px;
    margin: auto;
    margin-top: 70px;
}

.testimonial-people {
    width: 350px;
    height: 330px;
    background-color: #1f1f1f;
    border-radius: 18px;
    margin-top: 50px;
    position: relative;
}

.testimonial-people-img {
    width: 120px;
    margin: auto;
    position: relative;
    bottom: 50px;
}

.t-people-img {
    border: 5px solid yellow;
    border-radius: 50%;
}

.testimonial-para {
    color: #fff;
    padding: 0px 40px;
    text-align: center;
    line-height: 1.7rem;
}

.testimonial-p-name {
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

/* Reservation Section */
.reservation-section {
    width: 100%;
    max-height: 600px;
    min-height: 350px;
    background-color: rgb(241, 241, 241);
    position: relative;
}

.reservation-content {
    width: 95%;
    height: 500px;
    margin: auto;
}

.reservation-heading {
    padding-top: 40px;
    letter-spacing: 1.5px;
}

.reser-para {
    width: 65%;
    text-align: center;
    color: rgb(102, 102, 102);
    margin: auto;
    margin-top: 45px;
    line-height: 1.7rem;
}

.reser-btn {
    width: 285px;
    margin: auto;
}

.reservation-btn {
    border: 2px solid black;
    color: black;
    width: 200px;
    margin-top: 30px;
}

.reservation-btn:hover {
    color: white;
    background-color: black;
}

.reser-tagline {
    color: #000;
    margin-top: 30px;
}

.pizza-img {
    position: absolute;
    right: 0px;
    top: 230px;
}

/* Footer Section */
.footer-section {
    width: 100%;
    max-height: 640px;
    min-height: 200px;
    background-color: rgb(27, 27, 27);
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 95%;
    height: 520px;
    flex-wrap: wrap;
    padding-top: 80px;
    margin: auto;
    line-height: 1.5rem;
}

.f-child {
    width: 24%;
    height: 350px;
    margin: 12px auto;
    margin-top: 20px;
}

.f-sub-head {
    font-size: 1.6rem;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.f-font-s {
    font-size: 15px;
}

.quick-links {
    margin-top: 50px;
}

.quick-links a {
    color: #fff;
    transition: 0.2s all;
}

.quick-links a:hover {
    color: gold;
}

.o-hours-list {
    height: 240px;
}

.o-h-list {
    line-height: 1.6rem;
    margin: 30px 2px;
    padding: 0px 4px;
}

.social-icons {
    display: flex;
    margin-top: 25px;
}

.fa-brands {
    font-size: 1.2rem;
    margin: 0px 20px 0px 0px;
    transition: 0.2s all;
    cursor: pointer;
}

.fa-brands:hover {
    color: gold;
}

.fa-clock {
    font-size: 1.4rem;
    color: gold;
}

.loca-para {
    width: 70%;
    margin-top: 50px;
}

.loca-link {
    margin-top: 50px;
}

.map-link {
    text-decoration: none;
    transition: 0.2s all;
}

.map-link:hover {
    color: gold;
}

.fa-location-dot {
    margin-right: 10px;
}

.copyright-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-height: 100px;
    margin: auto;
    flex-wrap: wrap;
}